* {
    text-decoration: none;
}

body {
    background-image: url("./images/Wood-Table.jpg");
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.paper {
    transform: scale(1.1) translateX(-100%) translateY(8%) rotate(5deg);
    position: relative;
}

.sticky-note-2 {
    transform: scale(0.6) translateX(-130%) translateY(80%);
    position: absolute;
}

.eraser {
    transform: scale(0.2) translateX(-420%) translateY(-350%) rotateY(180deg) rotate(5deg);
    position: absolute;
}

.notebook {
    transform: scale(0.45) translateX(45%) translateY(-9%);
    position: absolute;
}

.sticky-note-1 {
    transform: scale(0.52) translateX(192%) translateY(-63%);
    position: absolute;
}

.earbuds {
    transform: scale(0.45) translateX(296%) translateY(11%) rotate(-50deg);
    position: absolute;
}

.coffee {
    transform: scale(0.7) translateX(180%) translateY(55%) rotate(78deg);
    position: absolute;
}

.pencil {
    transform: scale(0.3) translateX(-1120%) translateY(10%) rotate(-7deg);
    position: absolute;
}

.pen {
    transform: scale(0.3) translateX(210%) translateY(-70%) rotate(85deg);
    position: absolute;
}