* {
    text-decoration: none;
}

body {
    background-image: url("./images/Wood-Table.jpg");
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.notebook {
    transform: scale(0.42) translateX(45%) translateY(-13%);
    position: absolute;
    z-index: 1;
}

.paper {
    transform: scale(1.1) translateX(-100%) translateY(8%) rotate(5deg);
    position: relative;
}

.sticky-note-2 {
    transform: scale(0.6) translateX(-130%) translateY(80%);
    position: absolute;
}

.sticky-note-1 {
    transform: scale(0.52) translateX(180%) translateY(-63%);
    position: absolute;
    z-index: 2;
}

.earbuds {
    transform: scale(0.45) translateX(277%) translateY(13%) rotate(-50deg);
    position: absolute;
    z-index: 2;
}

.coffee {
    transform: scale(0.7) translateX(180%) translateY(55%) rotate(78deg);
    position: absolute;
    z-index: 2;
}